<document>
  <stackTemplate>
    <collectionList>
      <grid>
        <header>
          <title>Audiobooks ({{ total }})</title>
        </header>
        <section>
          {{#each items}}
            <lockup data-href-page="album-tracks" data-href-page-options="{{toJSON this }}">
              <img src="{{artworkUrl artwork_url }}" style="width: 295; height: 295"/>
              <title>{{ name }}</title>
              <description class="current-show" style="font-size:27%; margin-top:10; text-align: center">{{ artist }}</description>
            </lockup>
          {{/each}}
        </section>
      </grid>
    </collectionList>
  </stackTemplate>
</document>
