<document>
  <divTemplate>
      <shelf style="margin-left: 725">
        <section>
          {{#each queue}}
          <lockup style="padding: 20">
            {{#if artwork_url}}
            <img src="{{artworkUrl artwork_url}}" width="450" height="450" />
            {{else}}
            <img src="" width="450" height="450" />
            {{/if}}
          </lockup>
          {{/each}}
        </section>
      </shelf>
      <row style="tv-align: center">
        <text id='title' style="font-size: 30; font-weight: bold; color: #fff">{{ current.title }}</text>
      </row>
      <row style="tv-align: center">
        <text id='artist' style="font-size: 28; color: #ccc">{{ current.artist }}</text>
      </row>
      <row style="tv-align: center">
        <text id='album' style="font-size: 28; color: #ccc">{{ current.album }}</text>
      </row>
      <organizer style="width: 1000; tv-align: center; padding: 50 0">
        <text id="current-time" style="font-size: 28; color: #ccc; tv-position: left; tv-align: right">{{formatTime player.item_progress_ms }}</text>
        <progressBar id="progress" value="{{ player.progress }}" style="tv-position: center; margin: 0 30"/>
        <text id="total-time" style="font-size: 28; color: #ccc; tv-position: right; tv-align: right">{{formatTime player.item_length_ms }}</text>
      </organizer>
      <row style="tv-interitem-spacing: 20; margin-left: 725">
        <buttonLockup id="prev-btn">
          <badge src="{{asset_url 'img/prev.png'}}" width="96" height="96" />
        </buttonLockup>
        <buttonLockup id="play-btn">
          {{{ player_state_badge }}}
        </buttonLockup>
        <buttonLockup id="next-btn">
          <badge src="{{asset_url 'img/next.png'}}" width="96" height="96" />
        </buttonLockup>
        <buttonLockup id="output-btn" style="margin-left: 150">
          <badge src="{{asset_url 'img/sources.png'}}" width="96" height="96" />
        </buttonLockup>
      </row>
  </divTemplate>
</document>
